{% load static %}

<div
  style="
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 0.5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
  "
>
  {% if user.id == post.author_id %}
  <div style="grid-row: 1; grid-column: 1" id="post-controls">
    <a href="{% url 'post:update' user_id=user.id post_id=post.id %}">Update</a>
    {% if post.starred is not True %} {% if post.is_trashed is not True %}
    <form
      method="POST"
      action="{% url 'post:moveTrash' user_id=user.id post_id=post.id  %}"
    >
      {% csrf_token %}
      <input type="submit" value="Move to Trash" />
    </form>
    {% else %}
    <form
      method="POST"
      action="{% url 'post:restore' user_id=user.id post_id=post.id  %}"
    >
      {% csrf_token %}
      <input type="submit" value="Restore" />
    </form>
    {% endif %} {% endif %} {% if post.starred is not True %}
    <form
      method="POST"
      action="{% url 'post:star' user_id=user.id post_id=post.id  %}"
    >
      {% csrf_token %}
      <input type="submit" value="Star" />
    </form>
    {% else %}
    <form
      method="POST"
      action="{% url 'post:unstar' user_id=user.id post_id=post.id  %}"
    >
      {% csrf_token %}
      <input type="submit" value="Unstar" />
    </form>
    {% endif %} {% if post.pinned is not True %}
    <form
      method="POST"
      action="{% url 'post:pin' user_id=user.id post_id=post.id  %}"
    >
      {% csrf_token %}
      <input type="submit" value="Pin" />
    </form>
    {% else %}
    <form
      method="POST"
      action="{% url 'post:unpin' user_id=user.id post_id=post.id  %}"
    >
      {% csrf_token %}
      <input type="submit" value="Unpin" />
    </form>
    {% endif %}
  </div>

  <div style="grid-row: 1; grid-column: 2; text-align: right" id="post-icons">
    {% if post.starred is True %}
    <img src="{% static 'star.svg' %}" alt="Star icon" />
    {% endif %} {% if post.pinned is True %}
    <img src="{% static 'pin.svg' %}" alt="Pin icon" />
    {% endif %}
  </div>
  {% endif %}

  <div style="grid-row: 2; grid-column: 1 / 2" id="post-body">
    {% if post.title %}
    <span style="font-size: larger">
      <a href="{% url 'post:post' user_id=user.id post_id=post.id %}"
        >{{ post.title }}</a
      >
    </span>
    - <span style="font-size: small"> {{ post.author.username }} </span>
    {% else %}
    <span>
      <a href="{% url 'post:post' user_id=user.id post_id=post.id %}"
        ><em>No title</em></a
      >
    </span>
    - {{ post.author.username }} {% endif %} {% if post.last_updated %}
    <p>Last updated: {{ post.last_updated }}</p>
    {% else %}
    <p>Created At: {{ post.created_at }}</p>
    {% endif %}
  </div>
</div>
